body{
    background: gray;
}
h1
{
    color: black;
    padding: 25px 50px 75px 100px, ;
    align: centre;
}
.click {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 40px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
